.navbar {
    justify-content: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
  
  .example-container > * {
    width: 20%;
  }
  
  .button {
    max-width: 100px;
    margin-bottom: 3rem;
  }
