<mat-toolbar class="navbar mat-elevation-z4" color="primary">
    <div mat-display-2>
        Grace Medical Solutions
    </div>
</mat-toolbar>
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Admin login
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="example-container">
        
        <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field>
        <input matInput type="text" placeholder="username" required formControlName="user_name" name="user_name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" placeholder="password" required formControlName="_password" name="_password">
      </mat-form-field>
      <br>
      <button mat-flat-button class="button" color="primary" type="submit">Login</button>
    </form>
      <br>
      <span>New to Grace? Register <a routerLink="/signup">HERE</a> </span>
      </div>
    </mat-expansion-panel>
</mat-accordion>


