<mat-toolbar class="navbar mat-elevation-z4" color="primary">
  
  <div mat-display-2>
    <img src="/assets/image/logo.jpg" height="30" width="30" class="logo" alt="Logo">
    Grace Medical Solutions
  </div>
  
  <span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/main">Add & Delete Products</button>
      <button mat-menu-item routerLink="/editUserUi">Edit User UI</button>
      <button mat-menu-item routerLink="/cusDash">Customer Dashboard</button>
      <button mat-menu-item (click)="userAuth.logOut()">Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>

