<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>All Customers</h1>
        <div class="col-lg-12" style="margin-top: 2em; text-align: center;">
            <mat-accordion *ngFor="let data of customers">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h6>{{ data.first_name }} {{ data.last_name }}</h6>
                    </mat-panel-title>
                    <mat-panel-description>
                      <p>Email: {{ data.email }}</p>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Phone Number: {{ data.phone_number }}</p>
                  <p>Street Address: {{ data.street_address }}</p>
                  <p>City: {{ data.city }}</p>
                  <p>Pincode: {{ data.pincode }}</p>
                  <p>State: {{ data.state }}</p>
                  <p>Country: {{ data.country }}</p>
                  <button (click)="order($event)" id="{{ data._id }}" routerLink="/orderDetails">Order Details</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
