<app-navbar></app-navbar>
<mat-tab-group color="accent" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Terms & Conditions">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col">
                    <h3>Add Terms & Conditions</h3>
                    <form #termsForm="ngForm" (ngSubmit)="termsValues(termsForm)">
                        <div class="form">
                            <mat-form-field>
                                <mat-label>Header</mat-label>
                                <input matInput type="text" name="header" ngModel required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Paragraph</mat-label>
                                <textarea matInput name="para" ngModel required></textarea>
                            </mat-form-field>
                            <br>
                            <button mat-raised-button type="submit" color="warn">Add</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12" *ngFor= "let data of terms" style="margin-top: 2em; text-align: center;">
                    <h4>{{ data.header }}</h4>
                    <p>{{ data.para }}</p>
                    <button (click)="delete($event)" id="{{ data.id }}">Delete</button>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Privacy Policy">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col">
                    <h3>Add Privacy Policy</h3>
                    <form #privacyForm="ngForm" (ngSubmit)="privacyValues(privacyForm)">
                        <div class="form">
                            <mat-form-field>
                                <mat-label>Header</mat-label>
                                <input matInput type="text" name="header" ngModel required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Paragraph</mat-label>
                                <textarea matInput name="para" ngModel required></textarea>
                            </mat-form-field>
                            <br>
                            <button mat-raised-button type="submit" color="warn">Add</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12" *ngFor= "let data of privacy" style="margin-top: 2em; text-align: center;">
                    <h4>{{ data.header }}</h4>
                    <p>{{ data.para }}</p>
                    <button (click)="delete($event)" id="{{ data.id }}">Delete</button>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Shipping & Returns">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col">
                    <h3>Add Shipping & Returns</h3>
                    <form #shipForm="ngForm" (ngSubmit)="shipValues(shipForm)">
                        <div class="form">
                            <mat-form-field>
                                <mat-label>Header</mat-label>
                                <input matInput type="text" name="header" ngModel required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Paragraph</mat-label>
                                <textarea matInput name="para" ngModel required></textarea>
                            </mat-form-field>
                            <br>
                            <button mat-raised-button type="submit" color="warn">Add</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12" *ngFor= "let data of shipping" style="margin-top: 2em; text-align: center;">
                    <h4>{{ data.header }}</h4>
                    <p>{{ data.para }}</p>
                    <button (click)="delete($event)" id="{{ data.id }}">Delete</button>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
