<app-navbar></app-navbar>
<mat-tab-group color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Add product"> <app-add></app-add> </mat-tab>
    <mat-tab label="Delete product"> <app-products></app-products></mat-tab>
</mat-tab-group>
