<form class="example-container" [formGroup]="form" (ngSubmit)="submitForm()" enctype="multipart/form-data">
  <div class="form-group">
    <label class="control-label" for="Country">Products:</label>
    <select *ngIf="getProducts()" [(ngModel)]="selectedProduct" (change)="onSelectProduct($event.target.value)" class="form-control input-lg" id="product"
    formControlName="mainProduct">
    <option value="0">Select product</option>
      <option *ngFor="let product of getProducts()" value= {{product.id}}>{{product.name}}</option>
    </select>
  </div>
 
  <div class="form-group">
    <label class="control-label" for="States">Sub Products:</label>
    <select *ngIf="subProduct" [(ngModel)]="selectedSubProduct" class="form-control input-lg" id="subProduct" formControlName="subProduct">
      <option value="0">Select sub product</option>
      <option *ngFor="let subProd of subProduct" value= {{subProd.id}}>{{subProd.name}}</option>
    </select>
  </div>
  
  <mat-form-field class="form-group">
    <input matInput placeholder="Item type" class="form-control" formControlName="item_type">
  </mat-form-field>
  
  
  <mat-form-field class="form-group">
    <input matInput placeholder="Item name" class="form-control" formControlName="item_name" required>
  </mat-form-field>
  
  <mat-form-field class="form-group">
    <input matInput placeholder="Quantity" type="number" class="form-control" formControlName="item_quantity" required>
  </mat-form-field>
  
  <mat-form-field class="form-group">
    <textarea matInput placeholder="Description" class="form-control" formControlName="item_description" required></textarea>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input matInput placeholder="Item rating" class="form-control" formControlName="item_rating" required>
  </mat-form-field>
  
  <mat-form-field class="form-group">
    <input matInput placeholder="Price" type="number" class="form-control" formControlName="item_price" required>
    <span matPrefix>QAR &nbsp;</span>
  </mat-form-field>
  
  <div class="form-group">
  <label for="image">Upload Images</label>
  <div>
    <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
  </div>
  <input type="file" multiple (change)="detectFiles($event)" (change)="onFileSelect($event)">
  </div>
  <app-alert></app-alert>
  <div class="form-group">
    <button mat-flat-button class="button form-group" color="primary" type="submit">Add item</button>
  </div>
  
</form>

  
   
