.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.example-container > * {
  width: 70%;
}

.button {
  max-width: 100px;
  margin-bottom: 3rem;
}
