<mat-toolbar class="navbar mat-elevation-z4" color="primary">
    <div mat-display-2>
        Grace Medical Solutions
    </div>
</mat-toolbar>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">

        <div class="form-group input-group-md">
            <input class="form-control" placeholder="Full name" type="text" formControlName="full_name" name="full_name" required>
        </div>

        <div class="form-group input-group-md">
            <input class="form-control" placeholder="Username" type="text" formControlName="user_name" name="user_name" required>
        </div>

        <div class="form-group input-group-md">
            <input class="form-control" placeholder="Password" type="password" formControlName="_password" name="_password" required>
        </div>

        <div class="form-group input-group-md">
            <button mat-flat-button class="button" color="primary" type="submit">Sign Up</button>
        </div>
    </form>
    <span>Already registered? <a routerLink="/" style="text-decoration: none;">Login here.</a></span>
</div>
