<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col" style="text-align: center;">
            <button mat-raised-button color="accent" routerLink="/orderDetails" style="float: right; margin-right: 3em;">Back</button>
            <h3 style="float: left; margin-left: 3em;">Update Delivery Status</h3>
            <form #delForm="ngForm" (ngSubmit)="delValues(delForm)">
                <div class="form" style="margin-top: 4em;">
                    <mat-form-field>
                        <mat-label>Delivery Status</mat-label>
                        <input matInput type="text" name="status" ngModel required>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button type="submit" color="primary">Update</button>
                </div>
                
            </form>
            <hr>
            <p><strong>N.B:</strong> Please click the below button only when the order is delivered to the customer.</p>
            <button mat-raised-button color="warn" (click)="confirm()">Order Delivered To Customer</button>
        </div>
    </div>
</div>
