<app-navbar></app-navbar>
<div class="container-fluid">
    
    <button mat-raised-button color="accent" style="float: right; margin-right: 2em;" routerLink="/cusDash">Back</button>
    <h1>All Orders</h1>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Placed Orders">
            <div class="container-fluid">
            <div class="row">
            <div class="col-md-4" *ngFor="let data of placedOrders" style="margin-top: 2em;">
                <h3>Order Details</h3>
                <hr>
                <p><strong>Transcation Id</strong> {{ data.transaction_id }}</p>
                <p><strong>Order Date:</strong> {{ data.order_date }}</p>
                <p><strong>Item:</strong> {{ data.item_name }}</p>
                <p><strong>Quantity:</strong> {{ data._quantity }}</p>
                <p><strong>Price:</strong> {{ data.total_price }}</p>
                <p><strong>Status:</strong> {{ data._status }}</p>
                <p><strong>Delivery Status:</strong> {{ data.delivery_status }}</p>
                <button style="background-color: #F44336; color: white;" routerLink="/updateDeliveryStatus" (click)="setOrderId($event)" id="{{ data._id }}">Update Delivery Status</button>
            </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Canceled Order">
            <div class="container-fluid">
            <div class="row">
            <div class="col-md-4" *ngFor="let data of cancelledOrders" style="margin-top: 2em;">
                <h3>Order Details</h3>
                <hr>
                <p><strong>Transcation Id</strong> {{ data.transaction_id }}</p>
                <p><strong>Order Date:</strong> {{ data.order_date }}</p>
                <p><strong>Item:</strong> {{ data.item_name }}</p>
                <p><strong>Quantity:</strong> {{ data._quantity }}</p>
                <p><strong>Price:</strong> {{ data.total_price }}</p>
                <p><strong>Status:</strong> {{ data._status }}</p>
            </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Delivered Order">
            <div class="container-fluid">
            <div class="row">
            <div class="col-md-4" *ngFor="let data of deliveredOrders" style="margin-top: 2em;">
                <h3>Order Details</h3>
                <hr>
                <p><strong>Transcation Id</strong> {{ data.transaction_id }}</p>
                <p><strong>Order Date:</strong> {{ data.order_date }}</p>
                <p><strong>Item:</strong> {{ data.item_name }}</p>
                <p><strong>Quantity:</strong> {{ data._quantity }}</p>
                <p><strong>Price:</strong> {{ data.total_price }}</p>
                <p><strong>Status:</strong> {{ data._status }}</p>
                <p><strong>Delivered on:</strong> {{ data.delivery_date }}</p>
            </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Refunds">
            <div class="container-fluid">
            <div class="row">
            <div class="col-md-4" *ngFor="let data of refundRequest" style="margin-top: 2em;">
                <h3>Order Details</h3>
                <hr>
                <p><strong>Transcation Id</strong> {{ data.transaction_id }}</p>
                <p><strong>Refund Status</strong> {{ data.status }}</p>
                <p><strong>Total Price</strong> {{ data.total_price }}</p>

                <p><strong>N.B</strong> Please click the below button only when refund is completed.</p>
                <button (click)="refund($event)" id="{{ data.order_id }}">Refund</button>
            </div>
            </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
